<head>
{% comment %}
{% seo %}
{% endcomment %}
  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<link rel="stylesheet" href="{{site.baseurl}}/css/xterm.css">
<style>
          {% capture include_to_scssify %}
          {% include main.scss %}
          {% endcapture %}
          {{ include_to_scssify | scssify }}
</style>  
</head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">  
<link rel="stylesheet" href="{{site.baseurl}}/css/quiz.css">
<nav class="nav-secondary navbar navbar-fixed-top">
    <div class="fan"></div>
    <div class="container-fluid">
        <!-- <div class="ctrl-left">
        <a href="javascript:void(0)" id="menu-toggle-left"><i class="fa fa-outdent" aria-hidden="true"></i></a>
      </div> -->
        <div class="navbar-header">
            <!-- a href="/"><img class="logo" src="/images/dockerlogo.svg" alt="Docker logo" title="Docker logo"></a -->
        </div>
        <div class="navbar-collapse" aria-expanded="false" style="height: 1px;">

            <div class="sidebar-toggle">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="tabs">
                <ul class="tabs nav navbar-nav">
                    {% include treebuilder.html %}
                </ul>
            </div>
            <div class="ctrl-right">
                {% if site.docs==true %}<a href="javascript:void(0)" id="menu-toggle"><i class="fa fa-indent" aria-hidden="true"></i></a>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Docker 17.03 (current) <span class="caret"></span>
                    </button> 
                    <ul class="dropdown-menu">
                        {% for item in site.data.docsarchive.docker-compose %}
                        <li><a href="/{{ item[0] }}/">Docker {{ item[0] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>{% endif %}
            </div>
        </div>
    </div>
</nav>
